/* Background patterns from Toptal Subtle Patterns */
/* Anteater head graphic provided by whoever drew them for UCI. Thanks, stranger. - Denenberg's Workshop*/

body {
	/*Ensure that there's no white space on the border*/
	margin: 0 auto;
	min-width: 960px;
	overflow: auto;
  background-image: url("../img/background_pattern_final-01.png");
  background-size: 800px 800px;
}

.wrapper {
   /*Note: By setting height to 100%, the background will cover the whole header of the homepage*/
  height: 100%;
}

/*Default font*/
#button a,
#search p, #submit_search {
  font-size: 1.5em;
  /*font-family: "Bitter", sans-serif;*/
  font-family: "Courier New";
  font-weight: bold;
}

#button a { 
	color: rgb(65, 64, 66);
}

#search p { 
	font-size: 2em;
	letter-spacing: 5px; 
	color: #fff;
}


@media screen and (min-width: 1090px)
{
  /*Search Bar*/
  #search {
  	padding: 6.5em 0;
  	text-align: center;
    background-color: rgb(0, 0, 0, 0.4);
    background-image: url("../img/cardboard.png");
  }

  #search p { margin-right: 1em;}

  #search > *{
  	/*Stack each subcategory horizontally*/
  	margin: 0;
  	display: inline-block;
  }

  /*Search Button*/
  #submit_search {
    display: inline-block;
    margin-left: 1em;
    padding: 0.6em 1.1em;
    appearance: none;
    box-shadow: none;
    border-radius: 0;	
  	color: #381B1B;
    background-color: #00BFF3;
    border: none;

    /*Animation*/
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    cursor: pointer;
  }

  #submit_search:before {
  	content: '';
    position: absolute;
    border: #00BFF3 solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
  }

  #submit_search:hover:before, #submit_search:focus:before, #submit_search:active:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
  }


  #chevron {
    position: absolute;
    bottom: 4.5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  #button {
    position: absolute;
    bottom: 2%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  #button a {
    text-decoration: none;
  }
}

@media screen and (max-width: 1089px)
{
  /*Search Bar*/
  #search {
    padding: 6.5em 0;
    text-align: center;
    display: block;
    background-color: rgb(0, 0, 0, 0.4);
    background-image: url("../img/cardboard.png");
  }

  #search p { 
    margin-bottom: 20px;
  }

  /*Search Button*/
  #submit_search {
    display: inline-block;
    width: 368px;
    margin-top: 20px;
    padding: 0.6em 1.1em;
    appearance: none;
    box-shadow: none;
    border-radius: 0; 
    color: #381B1B;
    background-color: #00BFF3;
    border: none;

    /*Animation*/
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    cursor: pointer;

    z-index: 0;
  }

  #submit_search:before {
    content: '';
    position: absolute;
    border: #00BFF3 solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
  }

  #submit_search:hover:before, #submit_search:focus:before, #submit_search:active:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
  }


  #chevron {
    position: absolute;
    bottom: 4.5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  #button {
    position: absolute;
    bottom: 2%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  #button a {
    text-decoration: none;
  }
}


#about {
  max-width: 1425px;
  margin: 4em 8em 8em 8em;
  padding: 3em 3em 3em 3em;
  background-image: url("../img/ep_naturalwhite.png");
}

#about:focus {
  outline: none;
}

#about h1 {
  padding: 0 0 0 2.5em;
}

#about p {
  padding: 0 3.5em 0 3.5em;
  line-height: 1.6;

  font: helvetica;
  font-size: 1.375em;
}
