/*Ensure that there's no white space on the border*/
body {
	margin: 0 auto;
}

#wrapper {
	/*Note: By setting height to 100%, the background will cover the whole header of the homepage*/
	height: 100%;
	
	/*Format: Width, Height*/
	background-size: 100%;
}

/*Navigation Bar*/
#navbar {
	/*Note: The last number specify its transperancy*/
	background-color: rgb(66, 134, 244, 0.2);

	height: 30%;
}

#navbar nav {
	padding: 2em 0 2em 0;
	text-align: center;
}

.subcategory {
	/*Note: Creates the circle*/
	width: 8em;
	height: 8em;
	border-radius: 50%;
	background-color: rgb(119, 244, 66);

	display: inline-block;
	text-align: center;

	/*Note: Spacing in between menu items*/
	margin: 0 1em 0 1em;
}

.subcategory p {

	/*Note: Vertically align category name*/
	padding-top: 1.2em;
}


/*Search Bar*/
#search {
	background-color: rgb(112, 37, 140, 0.2);
	height: 70%;

	text-align: center;
}

#search > *{
	margin: 0;
	display: inline-block;
}

dd > ul {
	position: relative;
	z-index: 1;
}

/*#search * {
	margin-top: 5em;
	display: inline-block;
}*/