@media screen and (min-width: 1101px)
{
	/*Hides hamburger menu*/
	#hamburger_menu { display: none; }

	/*Default font*/
	.subcategory p {
		font-size: 1.35em;
		font-family: "Bitter", sans-serif;
		font-weight: bold;
		color: rgb(65, 64, 66);
	}

	/*Navigation Bar*/
	#navbar nav {
		padding: 3.5em 0;
		text-align: center;
	}

	#navbar nav a { text-decoration: none; }

	.subcategory {
		/*Note: Creates the circle*/
		width: 9em;
		height: 9em;
		border-radius: 50%;


		/*Stack each subcategory horizontally*/
		display: inline-block;
		text-align: center;	
		vertical-align: middle; /*Ensure that there's no 'baseline' issue*/

		/*Note: Spacing in between menu items*/
		margin: 0 1em;

		/*Animation*/
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}

	/*Zooming Animation*/
	.subcategory:hover, .subcategory:focus, .subcategory:active {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
		transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	}

	#selected { pointer-events: none; }

	/*Border Circle*/
	#selected div {
	  content: '';
	  border: #2f4260 solid 4px;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: top, right, bottom, left;
	  transition-property: top, right, bottom, left;
	}
}

@media screen and (max-width: 1100px)
{
	#navbar { display: none; }

	#hamburger_menu { 
		padding-top: 100px;
	}

	#popup {
		width: 100%;
	}

	#menu a
	{
	  text-decoration: none;
	  color: #232323;
	  
	  transition: color 0.3s ease;
	}

	#menu a:hover
	{
	  color: tomato;
	}

	#menuToggle
	{
	  display: block;
	  position: absolute;
	  top: 30px;
	  left: 30px;
	  
	  width: 10px;
	  height: 10px;
	  
	  z-index: 5;
	  
	  -webkit-user-select: none;
	  user-select: none;
	}

	#menuToggle input
	{
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  
	  cursor: pointer;
	  
	  opacity: 0; /* hide this */
	  z-index: 7; /* and place it over the hamburger */
	  
	  -webkit-touch-callout: none;
	}

	/*
	 * Just a quick hamburger
	 */
	#menuToggle span
	{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  
	  background: #212121;
	  border-radius: 3px;
	  
	  z-index: 5;
	  
	  transform-origin: 4px 0px;
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              opacity 0.55s ease;
	}

	#menuToggle span:first-child
	{
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}

	/* 
	 * Transform all the slices of hamburger
	 * into a crossmark.
	 */
	#menuToggle input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #232323;
	}

	/*
	 * But let's hide the middle one.
	 */
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	/*
	 * Ohyeah and the last one should go the other direction
	 */
	#menuToggle input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -1px);
	}

	/*
	 * Make this absolute positioned
	 * at the top left of the screen
	 */
	#menu
	{
	  position: relative;
	  width: 200px;
	  margin: -100px 0 0 -50px;
	  padding: 50px;
	  padding-top: 125px;
	  
	  background: #ededed;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  /* to stop flickering of text in safari */
	  
	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu li
	{
	  padding: 10px 0;
	  font-size: 22px;
	}

	/*
	 * And let's slide it in from the left
	 */
	#menuToggle input:checked ~ ul
	{
	  transform: none;
	}

}