h1{

	font-family: sans-serif;
	margin-left: 50px;
	padding: 0 0 0 0;
}

h3{
	font-family: sans-serif;
}

h2 {
	font-family: "Bitter", sans-serif;
	
	margin-right: auto;
}

.v1{
	border-left: 1px solid black;
	height: 200px; 
	position: absolute;
	margin-left: 900px;


}

body {

	background-color: #f2f2f2;
}

p {
	margin-left: 50px;}

#Faculty_Table{
	margin-left: 250px;

	
}

#Student_Table {
	padding-left: 40px;

}

ul {
	display: inline-block;
	*display: inline;
	zoom : 1;

}

#Hotline_table{
	position: absolute;
	float: left; 

}


